.row {
  display: flex;
  box-sizing: border-box;
  height: 40px;
  &--active {
    background-color: rgb(212, 237, 218);
  }

  &__item {
    box-sizing: border-box;
    padding: 11px 30px 0;

    border: 1px solid #dddddd;

    &--name {
      position: sticky;
      left: 40px;

      width: 250px;
      min-width: 250px;

      background-color: #ffffff;
    }

    &--age {
      width: 140px;
      min-width: 140px;
      text-align: right;
    }

    &--city {
      width: 220px;
      min-width: 220px;
    }

    &--active {
      width: 200px;
      min-width: 200px;
      text-align: center;
    }

    &--email {
      width: 340px;
      min-width: 340px;
    }

    &--role {
      width: 140px;
      min-width: 140px;
    }

    &--registration {
      width: 200px;
      min-width: 200px;
    }
  }

  &__selected {
    position: sticky;
    left: 0;

    box-sizing: border-box;
    width: 40px;
    min-width: 40px;
    padding: 11px 0 0 0;

    text-align: center;

    border: 1px solid #dddddd;
    border-left: 2px solid #dddddd;
    background-color: #ffffff;
  }
}

.row--active .row__item,
.row--active .row__selected {
  background-color: rgb(212, 237, 218);
}