.thead {
  position: sticky;
  top: 0;
  z-index: 2;

  &__item {
    box-sizing: border-box;
    min-width: 100px;
    padding: 0 10px;

    &--name {
      position: sticky;
      left: 40px;

      width: 180px;
      min-width: 180px;

      background-color: #ffffff;
    }

    &--age {
      width: 100px;
    }

    &--city {
      width: 180px;
      min-width: 180px;
    }

    &--status {
      width: 100px;
    }

    &--email {
      width: 280px;
      min-width: 280px;
    }

    &--role {
      width: 120px;
      width: 120px;
    }

    &--registration {
      width: 300px;
      min-width: 300px;
    }

  }

  &__content {
    display: flex;
  }

  &__selected {
    position: sticky;
    left: 0;

    width: 40px;
    min-width: 40px;
    box-sizing: border-box;

    background-color: #ffffff;
  }
}