.table {
  position: relative;

  max-width: 1000px;
  max-height: 500px;
  overflow-x: auto;
}

.table__table {
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  display: table;
}

tbody {
  display: table;
}

.sticky-list {
  will-change: transform;
}